.rodape p{
  color: #fff;
}

/*Fixando o footer na parte inferior da tela*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  /* ou % */
  padding: 11px 8%;
  height: 35px;
  background: black;
}
